* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.content-container {
    width: 90%;
    margin: 0 auto;
}

.title {
    text-align: center;
}

.social-media {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-media > a > img {
    margin: 0 10px;
}

/*
Place clip-path and background-size in a generic .card keyframe animation
*/
.card {
    height: 15vh;
    margin: 10px 0;
    background-size: contain;
    clip-path: polygon(0% 0%, 100% 0%, 100% 45%, 45% 100%, 0% 100%);
}

.site-name {
    color: black;
    font-size: 40px;
}

h1 {
    font-size: 5vmin;
}

h2 {
    font-size: 4vmin;
}

.sample {
    background-image: url("../img/sample-card.png");
}

/*
    Temporary styles to view grid content
*/

.card:nth-child(even) {
    background-color: lightpink;
}

.card:nth-child(odd) {
    background-color: lightblue;
}

@media only screen and (min-width: 768px) {
    .content-container {
        display: grid;
        grid: auto-flow / repeat(2, 1fr);
    }

    .title,
    .social-media {
        grid-column: 1 / -1;
    }

    .card {
        margin: 15px;
    }
}

@media only screen and (min-width: 1268px) {
    .content-container {
        grid-template-columns: repeat(3, 1fr);
    }
}