// CSS VARIABLES
:root {
    --color-primary: #e6e7e8;
    --color-secondary: #303030;
    --color-tertiary: #ffa500;
    --color-grey: #eeedee;
    --color-marble: #e6e7e8;
}

// SASS
$br-sm: 37.5em;
$br-md: 70em;